* {
	margin:0;
	padding:0;
	outline:0;
}
@media (max-width: 786px) {
	#header, #main, #footer {
	width: 490px;
	}
	.box {
	width: 250px;
	max-width: 125%;
	}
}
body {
	font-size:15px;
	line-height:1.3;
	font-family:Arial, Helvetica, Sans-Serif;
	color:#ccc;
	background:url('images/body-bg.gif');
}
a {
	color:#e7b038;
	text-decoration:underline;
	cursor:pointer;
}
a:hover {
	text-decoration:none;
}
a img {
	border:0;
}
input, textarea, select {
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif;
}
textarea {
	overflow:auto;
}
.cl {
	display:block;
	height:0;
	font-size:0;
	line-height:0;
	text-indent:-4000px;
	clear:both;
}
.notext {
	font-size:0;
	line-height:0;
	text-indent:-4000px;
}
.left, .alignleft {
	float:left;
	display:inline;
}
.right, .alignright {
	float:right;
	display:inline;
}
.text-right {
	text-align:right;
}
h2 {
	font-size:18px;
	color:#f2a223;
	font-weight:bold;
}
h3 {
	font-size:18px;
	color:#fff;
	font-weight:bold;
}
h4 {
	font-size:14px;
	color:#f3b12b;
	font-weight:bold;
}
#shell {
	width:980px;
	margin:0 auto;
}
#header {
	position:relative;
}
h1#logo {
	top:17px;
	left:50;
}
h1#logo a {
	float:left;
	width:250px;
	height:49px;
	font-size:50px;
	line-height:49px;
	color:#fff;
	text-decoration:none;
	padding-top: 15px;
}
h1#logo a:hover {
	color:#d91d2a;
}
#navigation {
	float:right;
	clear:right;
	padding-top:28px;
	padding-bottom:25px;
}
#navigation ul {
	list-style:none;
}
#navigation ul li {
	float:left;
	display:inline;
	padding-left:29px;
}
#navigation ul li a {
	font-size:20px;
	font-weight:bold;
	color:#fff;
	text-decoration:none;
}
#navigation ul li a:hover {
	color:#d91d2a;
}
#sub-navigation {
	display:block;
	clear:right;
	border-top:1px dashed #666;
	border-bottom:1px dashed #666;
	padding:8px 0;
}
#sub-navigation ul {
	list-style:none;
}
#sub-navigation ul li {
	float:left;
	display:inline;
	padding-right:60px;
}
#sub-navigation ul li a {
	font-size:18px;
	font-weight:bold;
	color:#fff;
	line-height:24px;
	text-decoration:none;
}
#sub-navigation ul li a:hover {
	color:#d91d2a;
}
#search {
	width:250px;
	margin:0 0 0 auto;
}
#search label {
	float:left;
	display:inline;
	font-size:14px;
	font-weight:bold;
	color:#fff;
	line-height:24px;
	padding-right:6px;
}
#search .search-field {
	width:150px;
	border:1px solid #413e3e;
	background:#fff;
	color:#787878;
	padding:2px 50px 2px 2px;
}
#search .search-button {
	font-size:14px;
	font-weight:bold;
	border:0;
	background:none;
	color:#fff;
	cursor:pointer;
}
#search .search-button:hover {
	color:#d91d2a;
}
#main {
	border-bottom:1px dashed #413e3e;
}
.box {
	width:980px;
	border-bottom:1px dashed #413e3e;
	padding-bottom:21px;
}
.box .head {
	width:980px;
	padding-top:14px;
	padding-bottom:11px;
}
.box .head h2 {
	float:left;
	display:inline;
}
.box .movie {
	width:152px;
	float:left;
	padding-right:80px;
	padding-top:35px;
}
.box .first {
	padding-left: 60px;
}
.movie-image {
	float:left;
	width:152px;
	height:214px;
	position:relative;
}
.movie-image img {
	width:152px;
	height:214px;
}
.movie-image a {
	float:left;
	display:inline;
	width:152px;
	height:214px;
	position:relative;
	z-index:2;
}
.play {
	position:absolute;
	top:0;
	left:0;
	width:152px;
	height:214px;
	background:url('images/image-hover.png');
	display:block;
	z-index:5;
	cursor:pointer;
	display:none;
}
.movie span.name {
	font-weight:bold;
	color:#fff;
	font-size:14px;
	text-align:center;
	padding-top:160px;
	display:block;
}
.box .last {
	padding:0;
	padding-top:35px;
}
.movie-name {
	font-weight:bold;
	color:#fff;
	float:left;
	width:152px;
	padding-top:8px;
}
.rating {
	float:left;
	width:152px;
	padding-top:8px;
}
.rating p {
	float:left;
	font-size:13px;
	color:#fff;
	font-weight:bold;
}
.rating .stars {
	float:left;
	width:60px;
	height:11px;
	background:url('images/stars.gif') no-repeat 0 0;
	margin-left:2px;
}
.rating .stars-in {
	width:48px;
	display:inline;
	background:url('images/stars.gif') no-repeat 0 bottom;
	position:absolute;
	height:11px;
	font-size:0;
	line-height:0;
	text-indent:-4000px;
}
.movie-bighead {
	width: auto;
	height: auto;
	padding-left: 50px;
	padding-top: 20px;
}
.movie-bighead span{
	color: rgb(18, 224, 53);
}
.movie-big img {
	width: 350px;
	height: 450px;
	float: left;
}
.movie-bigname {
	width: 510px;
	font-size: 2em;
	float: left;
	padding-left: 20px;
}
.movie-bigname2 {
	width: 900px;
	font-size: 1.5em;
	float: left;
	padding-top: 20px;
}
.movie-bigname a {
	background:none;
	color:#fff;
	text-decoration:none;
}
.movie-bigname a:hover {
	color:#d91d2a;
}
.page {
	text-align: center;
	text-decoration: none;
}
.page-item {
	display: inline-block;
}
.page .page-item.active .page-link {
	color:#d91d2a;
}
.page-link {
	text-decoration: none;
    color: #fff;
    font-weight: bold;
	font-size:20px;
}
.page-link:hover {
	color:#d91d2a;
}
#news {
	width:460px;
	float:left;
}
#news .head {
	width:460px;
	padding-top:11px;
	padding-bottom:14px;
}
#news h3, #coming h3 {
	float:left;
}
#coming {
	width:490px;
	float:left;
	padding-left:30px;
}
#coming .head {
	width:490px;
	padding-top:11px;
	padding-bottom:14px;
}
#coming .head strong {
	color:#ff361a;
}
#coming .content {
	min-height:130px;
	height:auto !important;
	height:130px;
	padding-bottom:20px;
}
#coming .content h4 {
	padding-bottom:3px;
}
#rec {
	width:900px;
	padding-left:75px;
}
#rec .rec_content {
	width: 900px;
	min-height:130px;
	height:auto !important;
	padding-bottom:40px;
	padding-top:20px;
}
#rec .rec_content a {
	padding-bottom:3px;
	float: left;
	font-size: 18px;
}
#rec .rec_content p {
	width: 700px;
	float: left;
	font-size: 1.25em;
}
#rec .rec_content h4 {
	width: 900px;
	float: left;
	font-size: 1.5em;
}
#login {
	width: 244px;
	float: right;
	padding-left:100px;
	padding-right:146px;
	padding-top:110px;
	padding-bottom:50px;
}
#register {
	width:244px;
	float:left;
	padding-left:100px;
	padding-right:146px;
	padding-top:50px;
	padding-bottom:50px;
}
#question {
	width:244px;
	float:left;
	padding-left:100px;
	padding-right:146px;
	padding-top:50px;
	padding-bottom:50px;
}
#qna {
	width:244px;
	float:left;
	padding-left:100px;
	padding-right:146px;
	padding-top:50px;
	padding-bottom:50px;
}
#register .form-control {
	width: 240px;
	height: 25px;
	display: flex;
    flex-wrap: wrap;
}
#reco {
	width:244px;
	float:left;
	padding-left:165px;
	padding-right:81px;
	padding-top:50px;
	padding-bottom:50px;
}	
#reco .reco-head h3 {
	padding-left: 19px;
	font-size: 150%;
}
#reco .reco-head .movie-image {
	padding-top: 40px;
	font-size: 125%;
}
#reco .reco-head h3 {
	padding-left: 19px;
	font-size: 150%;
}
.index_movie {
	width:76px; height:106px;
	padding-left: 150px;
}
#register .register-head h3, #login .login-head h3 {
	text-align: center;
	font-size: 150%;
}
#question .question-head h3, #qna .qna-head h3 {
	text-align: center;
	font-size: 150%;
}
#question .question-head .ans, #qna .qna-head {
	font-size: 150%;
	padding-top: 15px;
}
.register-head {
	background-color: rgb(65, 23, 66);
}
.login-head {
	background-color: rgb(65, 23, 66);
}
.question-head {
	background-color: rgb(65, 23, 66);
}
.qna-head {
	background-color: rgb(65, 23, 66);
}
#login .form-control {
	width: 240px;
	height: 25px;
	display: flex;
    flex-wrap: wrap;
}
#main .secret.btn {
	padding-top: 7px;
}
#inf {
	list-style: none;
}
#inf_message {
	width: 148px;
	height: 150px;
}
#qna_form {
	display: block;
}
.content {
	padding-bottom:28px;
}
.content .date {
	font-size:10px;
	color:#fff;
}
.content img {
	float:left;
	width:68px;
	padding-right:8px;
}
.content p {
	font-size:13px;
	color:#fff;
	line-height:16px;
}
.content a {
	font-size:11px;
}
#footer {
	padding:15px 0 0 0;
	font-size:10px;
}
#footer, #footer a {
	color:#9c9c9c;
	text-decoration:none;
}
#footer a:hover {
	text-decoration:none;
}
#footer p {
	margin:0;
	padding:0 0 11px 0;
	line-height:normal;
	white-space:nowrap;
}
#footer .lf {
	float:left;
}
#footer .rf {
	float:right;
}
